[submodule "chip8/chip8-roms"]
	path = chip8/chip8-roms
	url = https://github.com/kripod/chip8-roms
[submodule "gameboy/gb-test-roms"]
	path = gameboy/gb-test-roms
	url = https://github.com/retrio/gb-test-roms
[submodule "gameboy/Gameboy-logs"]
	path = gameboy/tests/Gameboy-logs
	url = https://github.com/wheremyfoodat/Gameboy-logs
