name: Testing Nim files
on: [push]

jobs:
  Check-Nim:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: jiro4989/setup-nim-action@v2
      with:
        nim-version: '2.2.0'
        repo-token: ${{ secrets.GITHUB_TOKEN }}
    - working-directory: ./chip8
      run: nimble test
